p{font-size: 20px;
    color:whitesmoke;
}
h1,h2{ font-size: 20px;
color: whitesmoke;}
h3{font-size: 40px;
color: springgreen;}
h3{font-style: oblique;}
h3{text-align: center;}
h1{text-align: center;}
footer p{font-size: 20px;
color: whitesmoke;}
a{font-size: 20px;
color:springgreen;}
html{background-color: blue;}
header{color: springgreen;}


