html{background-color: blue;}
header{color: blue;}
ul{font-size: 20px;
color: blue;}
h1,h2{font-size: 25px;
color: springgreen;}
header{background-color: springgreen;}
a{color: blue;
font-size: 20px;}
footer{background-color: springgreen;}