html{background-color: blue;}
a{color: blue;
    font-size: 20px;
font-style: oblique;}
header{color: blue;
background-color:springgreen ;}
ul{font-size: 20px;
color: blue;}
h1{text-align: center;
    font-size: 40px;
    color: springgreen;}
h2{font-size: 25px;
color: springgreen;
font-style: oblique;}
footer{background-color: springgreen;}
