html{background-color: blue;}
header{color: springgreen;}
a{font-size: 20px;
 color:springgreen;
font-style: oblique;}
h3{font-size: 40px;
color: springgreen;
font-style: oblique;
text-align: center;}
.historia{font-size: 20px;
color: springgreen;}
p{font-size: 15px;
color: black;
font-style: oblique;}
footer {font-size: 20px;
color: whitesmoke;}




