h1{font-size: 40px;
color: blue;text-align: center;}
header{background-color: springgreen;}
html{background-color: blue;}
h4{font-size: 50px;
color:springgreen;}
h4{text-align: center;}
a{font-size: 20px;
color: blue;}
footer{background-color: springgreen;}

