

html{background-color: blue;}
header{background-color: springgreen;}
a{font-size: 20px;
color: blue;
font-style: oblique;}
h1{font-size: 40px;
color: blue;text-align: center;
font-style: oblique;}
h3{font-size: 50px;
color: springgreen;
text-align: center;}
h4{font-size: 40px;
color:springgreen;
text-align: center;
font-style: oblique;}
footer{background-color: springgreen;}


